 <!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="styles/layout.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/reportPage.css">
        <script type="text/javascript" src="scripts/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="scripts/reportPage.js"></script>

    </head>

	<body>

<!--mainbody start-->

	<div id="reportMainBody">
<div class="partition"></div>
		<div class="about">
			<div class="reportTestTitle">
				<div class="aboutText">Test:&nbsp;</div>
			</div>
			<div class="handInTime">
				<div class="aboutText">Hand in time:&nbsp;</div>
				<div class="content" id="showHandInTime">time</div>
			</div>
		</div>
		<div class="chart">
			<div class="testResult">TestResult:&nbsp;</div>
			<div class="testResultChart">
				<div class="picture">
					<canvas id="chartCanvas">	
					</canvas>
				</div>
			</div>


<div class="partition"></div>
	</div>
<!--mainbody end	-->
<!--footer-->
			<div id="footer">
				all right reserved.
			</div>
<!--footer end-->

	</body>

</html>