 <!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="styles/layout.css">
		<link rel="stylesheet" type="text/css" media="screen" href="styles/searchResult.css">
        <script type="text/javascript" src="scripts/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="scripts/searchResult.js"></script>
    </head>

	<body>
<!--head start-->
		<div id="header">
			<img id="showLogo" src="images/logo.png" alt="logo" title="WebsiteIndexName"/>
				<form class="quicksearch" method="get" action="/repo/all">
					<input id="searchInput" class="searhHeader" type="text" placeholder="Search"></input>
				</form>
			<li id="signUp" class="aTagOfHeader" title="Sign Up">
				<a href="#">Sign up</a>
			</li>
			<li id="logIn" class="aTagOfHeader" title="Log In">
				<a href="#">Log in</a>
			</li>
		</div>
<!--head end-->

<!--mainbody start-->
		<div class="searchResult">
			<div class="searchPart"> 
				<div class="searchArea">
					<div class="searchLabel">Search</div>
					<form class="quicksearch searchArea" method="get" action="#">
						<input id="searchInAreaInput" class="searhHeader" value="keywords"></input>
						<button class="srearchButton">Search</button>
					</form>
				</div>
			</div>
<!--<div class="line">partition</div>	-->

	
			<div class="showResult">
				<div class="showResultCount">there is # of "keywords"</div>

<!--				1-->
					<div class="questionresultArea">
						 <div class="questionText">
							 <div class="serialMark serialNumber">1.</div>
							 <div class="questionContent">Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?</div>
						 </div>

						 <div class="optionArea">
							 <div  name="1" class="A option">
								 <div class="serialMark serialOption">A.</div>
								 <div class="questionContent optionContent">dfggfdsgsaaWhich number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?Which number is rational?</div>
							 </div>
							 <div  name="1" class="B option">
								 <div class="serialMark serialOption">B.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfbb </div>
							 </div>
							 <div  name="1" class="C option">
								 <div class="serialMark serialOption">C.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfcc </div>
							 </div>
							 <div  name="1" class="D option">
								 <div class="serialMark serialOption">D.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfdd </div>
							 </div>
						 </div>
						 <div class="answerArea">
							 <div class="answer">Answer:</div>
							 <div class="correctAnswer">A</div>
							 <div class="instruct">instruct</div>
						 </div>
					</div>
<div class="partitionInResult"></div>
<!--				2-->
					<div class="questionresultArea">
						 <div class="questionText">
							 <div class="serialMark serialNumber">2.</div>
							 <div class="questionContent">Which number is rational?</div>
						 </div>

						 <div class="optionArea">
							 <div  name="2" class="A option">
								 <div class="serialMark serialOption">A.</div>
								 <div class="questionContent optionContent">dfggfdsgsaa</div>
							 </div>
							 <div  name="2" class="B option">
								 <div class="serialMark serialOption">B.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfbb </div>
							 </div>
							 <div  name="2" class="C option">
								 <div class="serialMark serialOption">C.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfcc </div>
							 </div>
							 <div  name="2" class="D option">
								 <div class="serialMark serialOption">D.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfdd </div>
							 </div>
						 </div>
						 <div class="answerArea">
							 <div class="answer">Answer:</div>
							 <div class="correctAnswer">A</div>
							 <div class="instruct">instruct</div>
						 </div>
					</div>
<div class="partitionInResult"></div>				

<!--				3-->
					<div class="questionresultArea">
						 <div class="questionText">
							 <div class="serialMark serialNumber">3.</div>
							 <div class="questionContent">Which number is rational?</div>
						 </div>

						 <div class="optionArea">
							 <div  name="3" class="A option">
								 <div class="serialMark serialOption">A.</div>
								 <div class="questionContent optionContent">dfggfdsgsaa</div>
							 </div>
							 <div  name="3" class="B option">
								 <div class="serialMark serialOption">B.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfbb </div>
							 </div>
							 <div  name="3" class="C option">
								 <div class="serialMark serialOption">C.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfcc </div>
							 </div>
							 <div  name="3" class="D option">
								 <div class="serialMark serialOption">D.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfdd </div>
							 </div>
						 </div>
						 <div class="answerArea">
							 <div class="answer">Answer:</div>
							 <div class="correctAnswer">A</div>
							 <div class="instruct">instruct</div>
						 </div>
					</div>
<div class="partitionInResult"></div>
				
<!--				4-->
					<div class="questionresultArea">
						 <div class="questionText">
							 <div class="serialMark serialNumber">4.</div>
							 <div class="questionContent">Which number is rational?</div>
						 </div>

						 <div class="optionArea">
							 <div  name="4" class="A option">
								 <div class="serialMark serialOption">A.</div>
								 <div class="questionContent optionContent">dfggfdsgsaa</div>
							 </div>
							 <div  name="4" class="B option">
								 <div class="serialMark serialOption">B.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfbb </div>
							 </div>
							 <div  name="4" class="C option">
								 <div class="serialMark serialOption">C.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfcc </div>
							 </div>
							 <div  name="4" class="D option">
								 <div class="serialMark serialOption">D.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfdd </div>
							 </div>
						 </div>
						 <div class="answerArea">
							 <div class="answer">Answer:</div>
							 <div class="correctAnswer">A</div>
							 <div class="instruct">instruct</div>
						 </div>
					</div>
<div class="partitionInResult"></div>
				
<!--				5-->
					<div class="questionresultArea">
						 <div class="questionText">
							 <div class="serialMark serialNumber">5.</div>
							 <div class="questionContent">Which number is rational?</div>
						 </div>

						 <div class="optionArea">
							 <div  name="5" class="A option">
								 <div class="serialMark serialOption">A.</div>
								 <div class="questionContent optionContent">dfggfdsgsaa</div>
							 </div>
							 <div  name="5" class="B option">
								 <div class="serialMark serialOption">B.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfbb </div>
							 </div>
							 <div  name="5" class="C option">
								 <div class="serialMark serialOption">C.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfcc </div>
							 </div>
							 <div  name="5" class="D option">
								 <div class="serialMark serialOption">D.</div>
								 <div class="questionContent optionContent">dfggfdsgsdfdd </div>
							 </div>
						 </div>
						 <div class="answerArea">
							 <div class="answer">Answer:</div>
							 <div class="correctAnswer">A</div>
							 <div class="instruct">instruct</div>
						 </div>
					</div>
<div class="partitionInResult"></div>				
				
				
<!----------------------------------------------------------------------------------------------------->
					

					<div class="showPagingArea">

						<span class="showPaging prePage">
							<a href="#"> pre</a>
						</span>
						<span class="showPaging pageNumber">
							<a href="#">1</a>
						</span>
						<span class="showPaging pageNumber">
							<a href="#">2</a>
						</span>
						<span class="showPaging pageNumber">
							<a href="#">3</a>
						</span>
						<span class="showPaging pageNumber">
							<a href="#">4</a>
						</span>
						<span class="showPaging pageNumber">
							<a href="#">5</a>
						</span>
						<span class="showPaging nextPage">
							<a href="#">next</a>
						</span>
						
					</div>
				
				</div>
			</div>
<!--mainbody end	-->
		
<!--footer-->
			<div id="footer">
				all right reserved.
			</div>
<!--footer end-->
	</body>
</html>