<div class="navbar navbar-info navbar-static-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">Testti</a>
        </div>
          <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
              {% if g.user %}
                  <li><a href="{{ url_for('start') }}">Start Test</a> </li>
                  <li><a href="{{ url_for('get_user_info') }}">Profile</a> </li>
              {% endif %}
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>



            {% if g.user.is_authenticated()%}
                <li><a href="{{ url_for('sign_out') }}">Sign out</a></li>
                </ul>
                <div class="navbar-nav pull-right">
                <form class="navbar-search pull-right" action="{{url_for('search',num=1)}}" method="post" name="search" style="margin-top:13px">{{g.search_form.hidden_tag()}}{{g.search_form.search(size=20,placeholder="Search Subjects",class="search-query")}}</form>
                </div>
            {% else %}
                <li><a href="{{ url_for('sign_in') }}" class="navbar-brand pull-right">Sign in</a></li>
                </ul>
            {% endif %}

          </div><!--/.nav-collapse -->

      </div>
</div>